media.sh
notas/*

1sem/DSS/fichas/ficha1/Turmas3L-21.04-alunos/*
1sem/DSS/projeto/

## SD
1sem/SD/fichas/ficha*/out/*
1sem/SD/fichas/ficha*/.idea/*
1sem/SD/fichas/ficha*/ficha*.iml

## Mnol
1sem/MNONL/notas/*

1sem/CC/Introdução\ a\ CC\ Bases\ de\ Redes.mp4

1sem/LI4/projeto/*
