media.sh
notas/*

1sem/DSS/fichas/ficha1/Turmas3L-21.04-alunos/*
1sem/DSS/projeto/

## SD
1sem/SD/fichas/ficha*/out/*
1sem/SD/fichas/ficha*/.idea/*
1sem/SD/fichas/ficha*/ficha*.iml
1sem/SD/testes/gradle/*
1sem/SD/testes/.gradle/*
1sem/SD/testes/.idea/*


## Mnol
1sem/MNONL/notas/*

1sem/CC/Introdução\ a\ CC\ Bases\ de\ Redes.mp4
1sem/CC/trabalhos/*
1sem/CC/book_ComputerNetworking/*


1sem/LI4/projeto/*

# 2 semestre
2sem/CG/praticas/*/build

2sem/ADI/praticas/*
2sem/ADI/praticas/.metadata/*
2sem/ADI/praticas/*/.artifacts
2sem/ADI/praticas/*/.knimeLock
2sem/ADI/praticas/*/.savedWithData

2sem/POO/fichas/.idea/*
2sem/POO/fichas/.gradle/*
2sem/POO/fichas/build/
